.mais-informacoes {
    width: 100%;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background: #ffffff2e;
}

.desenvolvido-por {
    font-weight: 600;
}