.mais-informacoes {
    width: 100%;
    border-top: 1px solid #000;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.desenvolvido-por {
    font-weight: 600;
}