@import 'variables.scss';

/* Mobile Mode */

/* Dark Mode */
@media(max-width: 767px) {
    .darkMobile {
        background-image: url('/assets/images/Dark_Mobile.jpg');
        color: $white;
    }
}

/*  Desktop Mode */

/* Dark Mode */
@media(min-width: 768px) {
    .darkDesktop {
        background-image: url('/assets/images/Desktop_Dark.gif');
        color: $white;
    }
}

.linksColorWhite {
    color: $white;
}