@import 'variables.scss';

.darkMobile {
    background-image: url('/assets/images/Dark_Mobile.jpg');
    color: $white;
}

.principalDark {
    border: 1px solid $white;
}

.textWhite {
    color: $black;

    &:hover {
        background: $white;
        color: $black;
    }
}

.modeDark {
    background: $black;
    border: none;
}