.alinhamento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
}

.principal {
    @extend .alinhamento;
    width: 90vw;
    max-width: 500px;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 20px;
    border: 1px solid #1A73E8;
}

.firstSection {
    @extend .alinhamento;
    width: 100%;
    height: 30%;
    gap: 10px;
    border-bottom: 1px solid #000;
}

.photo {
    width: 120px;
    border-radius: 50%;
}

.firstSection h2 {
    font-size: 1rem;
    font-weight: 300;
}

.secondSection {
    @extend .alinhamento;
    width: 100%;
    height: 70%;
}

.secondSection ul {
    @extend .alinhamento;
}

.secondSection ul li {
    @extend .alinhamento;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    list-style: none;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;

    &:hover {
        border: 1px solid #1A73E8;
        background: #000;
        color: #fff;
    }
}

.secondSection ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    transition: .5s;

    &:hover {
        color: #fff;
    }
}