.alinhamento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    color: #fff;
}

.principal {
    @extend .alinhamento;
    width: 80vw;
    max-width: 500px;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 20px;
}

.firstSection {
    @extend .alinhamento;
    width: 100%;
    height: 30%;
    gap: 10px;
}

.photo {
    width: 150px;
    border-radius: 50%;
}

.firstSection h2 {
    font-size: 1rem;
    font-weight: 300;
}

.secondSection {
    @extend .alinhamento;
    width: 100%;
    height: 70%;
}

.secondSection ul {
    @extend .alinhamento;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

.secondSection ul li {
    @extend .alinhamento;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    width: 100%;
}

.secondSection ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}